:root {
  --color-black: #1d2021;
  --color-gray: #282828;
  --color-red: #cc241d;
  --color-lightred: #fb4934;
  --color-green: #98971a;
  --color-lightgreen: #b8bb26;
  --color-yellow: #d79921;
  --color-lightyellow: #fabd2f;
  --color-blue: #458588;
  --color-lightblue: #83a598;
  --color-mangeta: #b16286;
  --color-lightmagenta: #d3869b;
  --color-cyan: #689d6a;
  --color-lightcyan: #8ec07c;
  --color-white: #928374;
  --color-lightwhite: #d5c4a1;
  --color-orange: #d65d0e;
  --color-lightorange: #fe8019;
}
* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  background-color: black;
}

#nob {
  width: 80px;
  object-fit: contain;
}

@font-face {
  font-family: "blox";
  src: url("../static/fonts/Blox2.ttf");
}
@font-face {
  font-family: "clock";
  src: url("../static/fonts/digital-7 (mono).ttf");
}
@font-face {
  font-family: "steak";
  src: url("../static/fonts/Steak Rough.ttf");
}
@font-face {
  font-family: "metallord";
  src: url("../static/fonts/METALORD.TTF");
}
@font-face {
  font-family: "saucer";
  src: url("../static/fonts/SaucerBB.ttf");
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../static/fonts/Roboto-Black.ttf");
}
@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("../static/fonts/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../static/fonts/Roboto-Bold.ttf");
}


.page {
  min-height: 100vh;
}
button {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
  background-color: #1381fef9;
  backdrop-filter: blur(13px);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  opacity: 85%;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #1381fe,
  0 0 0.8rem #1381fe,
  0 0 2.8rem #1381fe,
  inset 0 0 1.3rem #1381fe; 
}
#myBtn {
   
  position: fixed;  
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: none;
  cursor: pointer; 
  
  border-radius: 80px; 
  
}


.navbar {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}

.navbar a {
  color: white;
  text-decoration: solid;
}

#tracks{
  height: 100vh;
  position: relative;
  background-image: url("../static/room_whether.gif");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

button:hover {
  transform: scale(1.08);
  opacity: 100%;
  transition: 0.3s ease-in-out;
  background-color: #6366f1;
}

#banner {
  background-image: url("../static/file.gif");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.banimgdiv {
  position: relative;
  top: -9vw;
}

.banimg {
  height: 60vh;
}

@media only screen and (max-width: 430px) {
  .banimg {
    height: 30vh;
  }
}

.header1 > img {
  width: 15vw;
  height: auto;
  object-fit: contain;
}

#tracks {
  max-height: 100vh;
  position: relative;
  background-image: url("../static/room_whether.gif");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: space-between;
  gap: 0.9vw;
  position: relative;

  /* hide scrollbar */
  overflow-y: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


.container::-webkit-scrollbar {
  display: none; /* chrome */
}

.container a {
  text-decoration: none;
  color: black;
}

.container .items {
  width: 25vw;
  height: 75vh;
  object-fit: contain;
  color: white;
  border-style: solid;
  background-color: #5a004880;
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.items {
  background: rgba(74, 144, 226, 0.3);
  min-width: 330px;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;

  position: relative;
  margin: 30px;
  border-radius: 10px;
}

.tags {
  font-family: sans-serif;

  text-align: center;
  padding: 10px;
  position: absolute;
  color: white;
  bottom: 0;
  left: 95px;

  margin: 10px;
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.items h2 {
  
}
.desc {
  margin: 10px;
  text-align: center;
  font-family: 
}
.items img {
  border-radius: 20px;
  padding-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  
}
.items:hover {
  color: white;
  transform: scale(1.08);
  backdrop-filter: blur(30px);
  cursor: pointer;
}
.fore {
  margin-right: 86px;
}
.box {
  margin-left: 60px;
 

}

.it {
  background-color: var(--color-lightorange);
}
ol .it:hover {
  transform: scale(1.08);

}

.rules {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.rules a {
  text-decoration: none;
  color: black;
}

#text {
  font-family: sans-serif;
  padding-top: 20px;
}

#dates {
  font-family: clock;
  background-image: url("../static/gifs/cyber.gif");
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  gap: 0.5vw;
}
#dates h3 {
  font-size: 1.6rem;
}

.dt-con {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0.5vw;
}

.date-box {
  font-family: clock;
  width: 20vw;
  height: 50vh;
  min-width: 190px;

  display: flex;
  flex-direction: column;
  object-fit: cover;

  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 18px;
  background-color: #5a004880;
  transition: all 0.2s ease-in-out;
  backdrop-filter: blur(5px);
  color: rgba(255, 255, 255, 1);
}
.date-box:hover {
  box-shadow: 50px 50px 50px rgba(145, 92, 182, 0.4);
  backdrop-filter: blur(15px);
}

.date-box > span {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
    0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}
.dates img {
  height: 50%;
  max-width: 120px;
  max-height: 120px;
}
#count-down {
  font-family: clock;
  font-size: 7.5vw;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
    0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}

@media only screen and (max-width: 430px) {
  .date-box {
    font-size: 2vw;
    width: 20vw;
    height: 30vh;
    min-width: 190px;
  }
  #count-down {
    font-size: 15vw;
  }
}

#prizes {
  /* debug */
  background-color: var(--color-yellow);
}

#registration {
  /* debug */
  background-color: var(--color-blue);
}
.fore {
  margin-right: 86px;
}
.box {
  margin-left: 60px;
}
.it {
  background-color: #88c0d0;
}
.it:hover {
  transform: scale(1.08);
  background-color: #5e81ac;
}

.rules {
  display: flex;
  justify-content: space-around;
  text-align: left;
}
#text {
  padding-top: 20px;
}
@media only screen and (max-width: 430px) {
  .container .items {
    object-fit: cover;

    border-style: solid;
    background-color: #5a004880;
  backdrop-filter: blur(10px);
    width: 55vw;
    height: 80vh;
    transition: 0.5s ease-in-out;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    margin: 10px;
    border-radius: 10px;
  }
  .items img {
    border-radius: 20px;
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 130px;
  }
  .tags {
    font-family: sans-serif;

    text-align: center;
    position: absolute;
    color: white;
    top: 5px;
    left: 115px;
    font-size: small;
    width: 80px;
    height: 90px;
    background-color: rgba(35, 33, 33, 0.5);
    border-radius: 5px;
  }
  .rul{
    width: 40vw;
    height: 40vw;
    padding-top: 10px;
    font-size: 10px;
  }
  .it{
    background-color:white;
    margin-top: 10px;
    border-radius: 40px;
      
  }

   
  

}
footer {
  bottom: 0px;
  color: white;
  backdrop-filter: blur(10px);
}
.foot-cont {
  width: 100%;
  height: 200px;
  background-image: url("../static/ft-bg.png");
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.header h1 {
  padding-top: 20px;
  font-size: 24px;
  text-align: center;
  font-weight: 650;
}
#c {
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
}

.con {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  font-weight: 500;
  padding: 10px;
  font-size: 20px;

  align-content: center;
}
.con ul {
  display: inline-flex;
  align-items: center;
}
ul {
  list-style: none;
}
.con ul li {
  padding-left: 10px;
}
.logos img {
  height: 50px;
  width: 250px;
}
.logos {
  display: flex;
  justify-content: space-between;
}
.it {
  background-color: #5a004880;
  margin-top: 10px;

  border-radius: 40px;
  animation: pulsate 1.5s infinite alternate;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

.it:hover {
  transition: 0.3s ease-in-out;
  background-color: #5a004880;
}
.it h1 {
  text-align: center;
  color: white;
  font-family:
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073,
    0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}
#text {
  color: white;
  font-size: larger;
  font-family: 
}
.rul{
  
  display: flex;
  width: 40vw;
  min-width: 190px;
  
  flex-direction: column;
  min-height:40vh;
  padding-top: 20px;
}

#rulesbg {
  background-image: url("../static/gifs/Bedroom-top.gif");
}


#rulimg {
  width: 60px;
  height: 60px;
}
.rules {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  color: white;
  font-size: 80px;
  font-family: 
  color: #fff;
  text-align: center;
  text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 5px #e5e9f0, 0 0 5px #e5e9f0,
    0 0 10px #e5e9f0, 0 0 2px #e5e9f0, 0 0 2px #e5e9f0;
}

.box {
  backdrop-filter: blur(5px);
  display: flex;
  
  margin-right: 80px;
  position: relative;
  gap:5rem;
  
}

@media only screen and (max-width: 430px) {
    .it{
      margin-top: 10px;
      border-radius: 40px;
    }

    .tags{
      display: none;
    }
    .box {
      backdrop-filter: blur(5px);
      min-width:40vw;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: relative;
      margin-bottom: 8vh;
      
    }
    


}
