:root {
  --color-black: #1d2021;
  --color-gray: #282828;
  --color-red: #cc241d;
  --color-lightred: #fb4934;
  --color-green: #98971a;
  --color-lightgreen: #b8bb26;
  --color-yellow: #d79921;
  --color-lightyellow: #fabd2f;
  --color-blue: #458588;
  --color-lightblue: #83a598;
  --color-mangeta: #b16286;
  --color-lightmagenta: #d3869b;
  --color-cyan: #689d6a;
  --color-lightcyan: #8ec07c;
  --color-white: #928374;
  --color-lightwhite: #d5c4a1;
  --color-orange: #d65d0e;
  --color-lightorange: #fe8019;
}
* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

#nob {
  width: 80px;
  object-fit: contain;
}

@font-face {
  font-family: "blox";
  src: url("../static/fonts/Blox2.ttf");
}
@font-face {
  font-family: "steak";
  src: url("../static/fonts/Steak Rough.ttf");
}
@font-face {
  font-family: "metallord";
  src: url("../static/fonts/METALORD.TTF");
}
@font-face {
  font-family: "saucer";
  src: url("../static/fonts/SaucerBB.ttf");
}
h1 {
  font-family: metallord;
  font-size: 3.4rem;
  color: var(--color-black);
}

h2 {
  font-family: steak;
  font-size: 3rem;
  color: var(--color-mangeta);
}

.page {
  width: 100vw;
  height: 100vh;
}
.navbar {
  background-color: black;
  overflow: hidden;
  display: flex;
}
.navbar a {
  float: right;
  color: white;
  text-align: center;
  margin-top: 10px;
  padding: 20px;
  text-decoration: solid;
}

.navbar a:hover {
  background-color: #ebdbb2;
  color: black;
}
#banner {
  background-image: url("../static/file.gif");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.banimgdiv {
  position: relative;
  top: -9vw;
}

.banimg {
  width: auto;
  height: 30vh;
}

.header1 > img {
  width: 15vw;
  height: auto;
  object-fit: contain;
}

#tracks {
  background-image: url("/home/raxen/Pictures/Gifs/bulb.gif");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: space-between;
  gap: 0.5vw;
  position: relative;

  /* hide scrollbar */
  overflow-y: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.container::-webkit-scrollbar {
  display: none; /* chrome */
}

.container div {
  object-fit: cover;
  border-style: solid;
  border-color: var(--color-cyan);
  width: 30vw;
  height: 50vh;
  transition: 0.5s ease-in-out;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.items:hover {
  transform: scale(1.08);
  background-color: var(--color-blue);
}
.fore {
  margin-right: 86px;
}
.box {
  margin-left: 60px;
}

.it {
  background-color: var(--color-lightorange);
}
.it:hover {
  transform: scale(1.08);
  background-color: #5e81ac;
}

.rules {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

#text {
  padding-top: 20px;
}

#dates {
  /* debug */
  background-color: var(--color-red);
}
.date-con {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  gap: 0.5vw;
}

.date-con div {
  width: 30vw;
  height: 50vh;
  border-color: var(--color-cyan);
  object-fit: cover;
  border-style: solid;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.last {
  background-color: var(--color-lightwhite);
}

#prizes {
  /* debug */
  background-color: var(--color-yellow);
}

#registration {
  /* debug */
  background-color: var(--color-blue);
}
.fore {
  margin-right: 86px;
}
.box {
  margin-left: 60px;
}
.it {
  background-color: #88c0d0;
}
.it:hover {
  transform: scale(1.08);
  background-color: #5e81ac;
}

.rules {
  display: flex;
  justify-content: space-around;
  text-align: left;
}
#text {
  padding-top: 20px;
}
footer {
  bottom: 0px;
}
.foot-cont {
  width: 100%;
  height: 300px;
  background-image: url("../ft1.png");
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.header h1 {
  padding-top: 20px;
  font-size: 24px;
  text-align: center;
  font-weight: 650;
}
#c {
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
}

.con {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  font-weight: 500;
  padding: 10px;
  font-size: 20px;

  align-content: center;
}
.con ul {
  display: inline-flex;
  align-items: center;
}
ul {
  list-style: none;
}
.con ul li {
  padding-left: 10px;
}
.logos img {
  height: 50px;
  width: 250px;
}
.logos {
  display: flex;
  justify-content: space-between;
}
