* {
  padding: 0;
  margin: 0;
}

.page {
  width: 100vw;
  height: 100vh;
}

#banner {
  background-image: url("../static/file.gif");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.banimgdiv {
  position: relative;
  top: -9vw;
}

.banimg {
  width: auto;
  height: 30vh;
}

.header1 > img {
  width: 15vw;
  height: auto;
  object-fit: contain;
}

#tracks {
  background-image: url("/home/raxen/Pictures/Gifs/bulb.gif");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: space-between;
  gap: 0.5vw;
  position: relative;
  overflow-y: hidden;
}

.container div {
  object-fit: cover;
  border-style: solid;
  border-color: #83a598;
  width: 30vw;
  height: 50vh;
  transition: 0.5s ease-in-out;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.items:hover {
  transform: scale(1.08);
  background-color: #ebdbb2;
}
.fore{
  margin-right: 86px;
}
.box{
  margin-left: 60px;
}
.it{
  background-color: #88C0D0
  ;
}
.it:hover {
  transform: scale(1.08);
  background-color: #5E81AC


}

.rules{
  display: flex;
  justify-content: space-around;
  text-align: left;
}
#text{
  padding-top: 20px;
}
